<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>ICT3102 - Team 1 Dashboard</title>

<body>
  <!-- {{timeout_dic}}
  {{beacon}} -->
    <!-- <table>
        <tr>
          <th>Beacon MAC</th>
          <th>Room Name</th>
          <th>Location</th>
          <th>Level</th>
        </tr>
        {% for beacon in beacons.keys() %}
        <tr>
            <td>{{beacon}}</td>
            <td>{{beacons[beacon]['location']}} </td>
            <td>{{beacons[beacon]['level']}}</td>
        </tr>
        {%endfor%}
    </table> -->
    <table class="table">
        <tr>
          <th>Staff_ID</th>
          <th>Beacon MAC</th>
          <th>Location</th>
          <th>RSSI</th>
          <th>Timestamp</th>
        </tr>
        {% for time_out_beacon in timeout_dic.keys() %}
        <tr>
                <td>{{timeout_dic[time_out_beacon]['name']}}</td>
                <td>{{timeout_dic[time_out_beacon]['beacon_mac']}}</td>
                <td>{{beacons[timeout_dic[time_out_beacon]['beacon_mac']]['location']}}</td>
                <td>{{timeout_dic[time_out_beacon]['RSSI']}}</td>
                <td>{{time_out_beacon}}</td>
        </tr>
        {%endfor%}
    </table>
</body>